body{
  display: flex;
  justify-content: center;
}
.main-div{
  font-family: helvetica;
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 800px;
  font-size:17px; 
  text-shadow: -1px -1px 0  rgba(0,0,0,0.3);
  color: #FFFFFF;
  background-color: #b66d15;   
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f5992), to(#141f37));
}
p {
  margin-left: 7px;
}
.left-div{
	margin-left: 10px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}
#mm {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding: 10px;
}
button {
  color: white;
  font-size: 15px;  
}
.menus{
  height: 100px;
  width: 140px;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  border:1px solid #b66d15;
  border-radius: 5px;
  font-size:17px; 
  text-shadow: -1px -1px 0  rgba(0,0,0,0.3);
  color: #FFFFFF;
  background-color: #b66d15;   
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b66d15), to(#c79810));
}
.menu:hover{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c8812c), to(#d1a525));
}
.balance{
	margin-top: 41px;
}
.right-div{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
}
#ca{
  display: flex;
  font-size: 20px;
  padding: 10px;
  justify-content: flex-start;
}
#st{
  display: flex;
  font-size: 30px;
  margin-top: -15px;
  margin-left: 15px;
  justify-content: flex-start;
}
.options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.option{
	border: none;
}
.option:hover{
	background-color: #126ac0;
}
.end:hover{
  background-color: #b1480f;
}
.get-cash{
  display: flex;
  background: #003d78;
  height: 100px;
  width: 180px;
  margin-left: 10px;
  margin-bottom: 31px;
  border-radius: 10px;
  text-shadow: -1px -1px 0  rgba(0,0,0,0.3);
  margin-top: -11px;
}
.transfer{
  display: flex;
  background: #003d78;
  height: 100px;
  width: 180px;
  text-shadow: -1px -1px 0  rgba(0,0,0,0.3);
  margin-left: 10px;
  margin-bottom: 31px;
  border-radius: 10px;
  margin-top: -11px;
}
.dep-cash{
  display: flex;
  background: #003d78;
  height: 100px;
  width: 180px;
  text-shadow: -1px -1px 0  rgba(0,0,0,0.3);
  margin-left: 10px;
  margin-bottom: 31px;
  border-radius: 10px;
  margin-top: -11px;
}
.make-payment{
  display: flex;
  background: #003d78;
  height: 100px;
  text-shadow: -1px -1px 0  rgba(0,0,0,0.3);
  width: 180px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: -11px;
}
.rec-phone{
  display: flex;
  background: #003d78;
  height: 100px;
  text-shadow: -1px -1px 0  rgba(0,0,0,0.3);
  width: 180px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: -11px;
}
.end-session{
  display: flex;
  background: #7e330a;
  border: none;
  height: 70px;
  width: 180px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 240px;
}