body{
  display: flex;
  justify-content: center;
}
.main-div{
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 800px;
  font-size:17px; 
  text-shadow: -1px -1px 0  rgba(0,0,0,0.3);
  color: #FFFFFF;
  background-color: #b66d15;   
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f5992), to(#141f37));
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    opacity: 0.3;
}
.pin{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 100;
}
.text-box{
  margin-top: 130px;
  margin-left: -60px;
  border-radius: 8px;
  width:300px;
  height:70px;
  background: #647fbf;
  text-align: center;
  font-size: 50px;
  color: white;
  border: none;
}
p {
  margin-left: 7px;
}
button {
  color: white;
  font-size: 15px;  
}
#st{
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
}
#sa{
  font-size: 20px;
  margin-top: -10px;
  margin-left: -1px;
}
.choices{
  display: flex;
  flex-direction: row;
}
.choice:hover{
  background-color: #126ac0;
}
.end:hover{
  background-color: #b1480f;
}
.ok-btn{
  display: flex;
  margin-left: -75px;
  margin-top: 10px;
  height: 70px;
  justify-content: center;
  border: none;
  width: 140px;
  border-radius: 5px;
  background: #00488f;
}
.end-session-with{
  display: flex;
  background: #7e330a;
  justify-content: center;
  height: 70px;
  width: 140px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
}